<%- include('../_layouts/adminheader'); %>
<h2 class="page-title">Edit a News</h1>
	<a href="/editor_news" class="btn btn-primary">Back to All News</a>
	<br><br>
	<form enctype="multipart/form-data" action="/editor_news/update/<%= id %>" method="POST">

		<div class="form-group">
			<label for="">Title</label>
			<input type="text" class="form-control" name="headline" value="<%= title %>" placeholder="headline">
		</div>

		<div class="form-group">
			<label for="">Subtitle</label>
			<input type="text" class="form-control" name="subheadline" value="<%= subtitle %>"
				placeholder="Subheadline">
		</div>

		<% if(all_categories!=null) { %>

		<div class="form-group">
			<label for="">categories</label>
			<select name="categories" class="form-control">
				<% for(var i=0;i<all_categories.length;i++){ if(all_categories[i].title==categories) {%>
				<option value="<%= all_categories[i].id %>" selected><%= all_categories[i].title %></option>
				<%}else{  %>
					<%if(all_categories[i].title==='About us' || all_categories[i].title==='Contact' ){%>
						<%}else{%>
				<option value="<%= all_categories[i].id %>"><%= all_categories[i].title %></option>
				<%}} }%>
			</select>
		</div>
		<% } %>


		<div class="form-group">
			<label for="">Files</label>
			<input type="file" class="form-control" name="myFiles" id="img" multiple>
			<img src="#" id="imagePreview" alt="">
			<%for(var i=0; i<icon.length;i++) {%>
			<img src='data:<%=icon[i].media_type%>;base64,<%=icon[i].media_data%>' id="imagePreview" alt="">
			<li id="delete_icon"><a href="/editor_news/delete_single_icon/<%= icon[i].media_id %>/<%= id %>">delete</a></li>
			<%}%>
		</div>




		<div class="form-group">
			<label for="">Description</label>
			<textarea name="description" class="form-control" cols="10" rows="05"
				placeholder="Description"><%= description %></textarea>
		</div>

		<div class="form-group">
			<label for="">SubmittedBy</label>
			<input type="text" class="form-control" name="user_name" value="<%= authorize_users_id %>"
				placeholder="submittedBy" readonly>
		</div>


		<input type="submit" class="btn btn-dark">
	</form>


	<script>


		function readURL(input) {

			for (var i = 0; i < input.files.length; i++) {
				if (input.files && input.files[i]) {
					var reader = new FileReader();
					reader.onload = function (e) {
						$("#imagePreview").attr('src', e.target.result).width(100).height(100);
					}
					reader.readAsDataURL(input.files[i]);
				}
			}
		}

		$("#img").change(function () {
			readURL(this);
		});
	</script>

	<%- include('../_layouts/adminfooter'); %>