<%- include('.\\' + '../_layouts/header'); %>


  <div class="container">

     
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="text-center">
              <h3><i class="fa fa-lock fa-4x"></i></h3>
              <h2 class="text-center"><%=title%></h2>
              <p>You can reset your password here.</p>
              <div class="panel-body">

                <form id="register-form" action="/users/forgot" role="form" autocomplete="off" class="form" method="post">

                  <div class="form-group">
                    <div class="input-group">

                      <input id="user" name="username" placeholder="Username" value="<%=username%>"class="form-control" type="text">
                    </div>

                    <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                      <input id="user" name="email" placeholder="email address" class="form-control" value="<%=email%>" type="email">
                    </div>
                    <div class="input-group">

                      <input id="user" name="v_code" placeholder="Secrit Code"  value="<%=v_code%>"class="form-control" type="text">
                    </div>
                  </div>
                 
                    <input name="recover-submit"  id="user" class="btn btn-primary btn-primary" value="Reset Password"
                      type="submit">
                  

                  <input type="hidden" class="hide" name="token" id="token" value="">
                </form>

              </div>
            </div>
          </div>
        </div>


  </div>


<%- include('.\\' + '../_layouts/footer'); %>